<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=pageTitle%></title>
  <style>
    .profile-image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
    }
  </style>
</head>
<body style="background: radial-gradient(#000000 0%, #2c3e50 74%);">
    <%- include('../includes/head.ejs')%>

<%- include('../includes/navbar.ejs')%>
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Profile</h2>
              <!-- Display profile picture -->
              <% if (imageUrl) { %>
                <img class="profile-image" src="<%=imageUrl%>" alt="Profile Picture"><br>
              <% } %>
                            
                <label>Name: <%=username%></label><br/>
                <label>Email: <%=email%></label><br/>
                <label>Followers: <%=followers%></label><br/>
                <label>Following: <%=following%></label><br/>
                <label>Thoughts: <%=thoughts%></label><br/>
                
                
                
                <!-- Form to upload an image -->
                <form action="/user/uploadImage" method="post" enctype="multipart/form-data">
                  <input type="file" name="image" accept="image/*">
                  <button type="submit">Upload</button>
                </form>
      
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<%- include('../includes/end.ejs')%>
</body>
</html>
